<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://alchemicalreduction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/722359cf-282e-4ae1-a013-82725fd2f247/resourceGroups/Testing/providers/Microsoft.Web/sites/AlchemicalReduction</ResourceId>
    <UserName>$AlchemicalReduction</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://alchemicalreduction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>